* {
	margin:0;
	padding:0;
	border:0;
	list-style-type: none;
	outline: none;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-smooth: auto;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

body {
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.5;
	background-color: #e4e4e0;
}

header {
	height: 50px;
	background-color: #646260;
}

label {
	width: 120px;
	display: inline-block;
	vertical-align: top;
	padding: 3px 0px;
}

.logo {
	margin: 0 auto;
	height: 50px;
	text-indent: 50px;
	overflow:hidden;
	font-size: 2.5em;
	color: white;
}

.window {
	margin: 0 auto;
	max-width: 94%;
}

.actionbox>div:first-child {
	padding: 10px;
	background-color: white;
	margin: 5px;
}

.actionbox>div:first-child>div:first-child {
	flex-grow: 2;
}

.actionbox>div {
	display:flex;
	gap: 20px;
}

#rebootbutton, #updatebutton, #downloadDBbutton, #apconfigbutton, .filebutton {
	padding: 2px 5px;
	background-color: #cccccc;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.columns div {
	flex: 1;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
button {
	appearance: none;
	border-radius: 0;
}

input {
	border: solid 1px #cccccc;
	padding: 4px;
	border-radius: 0px;
}

input[type=button], button {
	border: 0px;
	padding: 4px 10px;
	cursor:pointer;
}

input[type=button]:hover,
button:hover {
	background-color:#aaaaaa;
}

select {
	padding: 3px 4px;
	border-radius: 0px;
	border: solid 1px #cccccc;
}

#configbox, #apconfigbox, #apupdatebox {
	display: none;
	position: fixed;
	top: 80px;
	left: 50px;
	width: 380px;
	padding: 15px;
	background-color: #f0e6d3;
	z-index: 999;
	box-shadow: 7px 10px 52px -19px rgba(0, 0, 0, 0.63);
}

#configbox p, #apconfigbox p, #apupdatebox p {
	padding: 5px;
}

#configbox h3, #apconfigbox h3, #apupdatebox h3 {
	font-size: 1.5em;
	font-weight: bold;
}

#configbox input, #apconfigbox input {
	border: solid 1px #cccccc;
}

#configbox input[type=number] {
	width: 80px;
}

#apconfigbox {
	background-color: #e6f0d3;
}

#aptable {
	width: 100%;
	border-spacing: 0;
}

#aptable th {
	text-align: left;
	background-color: #00000020;
	padding: 0px 3px;
}

#aptable th, #aptable td {
	border-right: 1px solid #000010;
	padding: 0px 3px;
}

#aptable td:nth-child(1), #aptable th:nth-child(1) {
	border-left: 1px solid #000010;
}

#aptable td:nth-child(3),
#aptable td:nth-child(4) {
	text-align: right;
}

#apupdatebox {
	background-color: #f0e0d0;
}

#cfgdelete {
	position: absolute;
	bottom: 15px;
	right: 15px;
	cursor:pointer;
}

.closebtn {
	border: 1px solid black;
	float: right;
	width: 19px;
	height: 20px;
	font-size: 1.1em;
	text-align: center;
	margin: 5px;
	cursor: pointer;
}

.logbox {
	margin: 5px;
}

.logbox p {
	background-color: #ffffff;
	padding: 5px 10px;
}

.logbox img {
	vertical-align: bottom;
	cursor:pointer;
}

.logbox #sysinfo {
	float: right;
}

.taglist {
	display: flex;
	flex-wrap: wrap;
}

#tagtemplate {
	display:none;
}

.tagcard {
	width: 225px;
	position: relative;
	min-height: 170px;
	margin: 5px;
	padding: 5px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	transition: box-shadow 0.3s ease;
}

.tagcard:hover {
	cursor:pointer;
	box-shadow: 7px 10px 52px -19px rgba(0, 0, 0, 0.63);
	filter: brightness(1.02);
}

.tagflash {
	animation: tagflash 1s;
}

.tagpending {
	animation: pending 1s ease infinite;
}

.currimg {
	float: right;
}

.currimg img, .currimg canvas {
	max-width: 50px;
	border: 1px solid #c0c0c0;
}

.mac {
	font-size: 0.9em;
	cursor:pointer;
}

.alias {
	font-size: 1.4em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.received {
	display: flex;
	font-size: .85em;
	padding-bottom: 5px;
}
.received div {
	padding-left: 3px;
	padding-right: 1px;
	display: inline-block;
	font-weight: bold;
}

.contentmode {
	font-weight: bold;
	font-size: 1.4em;
	padding-bottom: 5px;
}

.lastseen, .nextcheckin, .nextupdate {
	font-size: 0.9em;
}

.lastseen span,
.nextcheckin span,
.nextupdate span {
	width:105px;
	display:inline-block;
}
.corner {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 5px;
}

.pendingicon {
	width: 20px;
	height: 20px;
	background-color: rgb(7, 174, 230);
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	display: none;
	vertical-align: top;
}

.warningicon {
	display:none;
	font-size: 1.3em;
	background-color: yellow;
	color: black;
	height: 20px;
	width: 20px;
	vertical-align: top;
	text-align: center;
}

ul.messages {
	padding: 5px;
}

ul.messages li {
	position: relative;
}

ul.messages li.new {
	animation-name: new;
	animation-duration: 1400ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.error {
	color: red;
}

#paintbutton {
	padding: 1px 3px;
	border: 1px solid black;
	font-size: 1.3em;
	vertical-align: top;
	margin-left:12px;
	cursor: pointer;
}

#paintbutton:hover {
	background-color: #aaaaaa;
}

/* painter */

#canvasdiv {
	padding: 5px;
}

#canvasdiv canvas {
	border: 1px solid black;
}

#buttonbar {
	padding: 5px;
	display: flex;
	gap: 5px;
}

#buttonbar button,
#layersdiv button {
	padding: 1px 2px;
	border: 1px solid #cccccc;
	background-color: #dddddd;
	width: 40px;
}
#buttonbar button {
	font-size: 1.2em;
	font-weight: bold;
}

#buttonbar .active {
	background-color: #ffffff;
	cursor: pointer;
}

#buttonbar button:hover,
#layersdiv button:hover {
	background-color: #cccccc;
	cursor: pointer;
}

#layersdiv {
	padding: 0px 5px;
}

#layersdiv>div {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
}

#layersdiv input,
#layersdiv select {
	padding: 2px;
}

#font-select {
	width: 150px;
}

#savebar button {
	border: solid 1px #666666;
}


@media(max-width: 460px) {
	.messages li div, ul.messages li div.date, ul.messages li div.message {
		display:block;
		position:relative;
		padding: 0;
		left: auto;
	}
	.messages li div.message, li.pending {
		margin-bottom: 8px;
	}
	ul.messages {
		padding-bottom: 4px;
	}
}

@keyframes new {
    0%   { background-color: rgba(255, 255, 204, 1); }
    50%  { background-color: rgba(255, 255, 204, .5); }
    100% { background-color: rgba(255, 255, 204, 0); }
}

@keyframes tagflash {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes pending {
	0% { background-color: #d0d0e0;}
	50% { background-color: #b0b0e0;}
	100% { background-color: #d0d0e0;}
}

@media screen and (max-width: 480px) {
	/* styles for mobile devices in portrait mode */

	body {
		font-size: 14px;
	}

	.tagcard {
		width: 100%;
		min-height: 200px;
	}

	.logbox #sysinfo {
		float: none;
		display: block;
	}

	#configbox {
		top: 0px;
		left: 0px;
		width: 100%;
	}

	.currimg {
		float: none;
		position: absolute;
		right: 5px;
	}

	.currimg img,
	.currimg canvas {
		max-width: 60px;
	}

	.logo {
		padding-top: 10px;
		text-indent: 0px;
		font-size: 1.8em;
		text-align: center;
	}

}